{% extends 'ZantolovAppBundle::baseAdmin.html.twig' %}

{% block body -%}
    {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
        {% block entityTitle %}
            New Content Module
        {% endblock %}
        {% block actionPanel %}
            <ul class="list-inline">
                <li>
                    <a onclick="$('#zantolov_appbundle_contentmodule_submit').click();" href="javascript:void(0)"
                       class="btn btn-success btn-sm">
                        <i class="fa fa-check"></i> Create
                    </a>
                </li>
                <li>
                    <a class="btn btn-primary btn-sm" href="{{ path('app.content-module') }}">
                        <i class="fa fa-arrow-left"></i> Back to the list
                    </a>
                </li>
            </ul>
        {% endblock %}
    {% endembed %}
    {{ form(form) }}

{% endblock %}
