{% extends 'ZantolovAppBundle::baseAdmin.html.twig' %}

    {% block body -%}

        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}

            {% block entityTitle %}
                User
            {% endblock %}

            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('app.users') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('app.users.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            {% endblock %}

        {% endembed %}

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th class="col-sm-2">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled|fontAwesome() }}</td>
            </tr>
            </tbody>
        </table>

    {% endblock %}
